<footer class="footer container">
  <span class="footer__copy">
    &copy; {new Date().getFullYear()} <a href="https://vehement.co">Vehement</a> All rights reserved.
  </span>
</footer>

<style>
  .footer {
    display: block;
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
  }

  .footer a {
    color: var(--text-color-light);
    font-weight: 500;
  }
</style>
