<header class="profile container">
  <div class="profile__container">
    <div class="profile__data">
      <div class="profile__border">
        <div class="profile__perfil">
          <img src="profile.jpg" alt="puede ser una fotografía de hernán estupiñán">
        </div>
      </div>

      <h2 class="profile__name">Hernán Estupiñán</h2>
      <h3 class="profile__profession">Computer Engineer</h3>

      <div class="profile__social">
        <a href="https://linkedin.com/abouthernan" target="_blank" class="profile__social-link">
          <i class="ri-linkedin-box-line" />
        </a>
        <a href="https://twitter.com/abouthernan" target="_blank" class="profile__social-link">
          <i class="ri-twitter-line" />
        </a>
        <a href="https://instagram.com/abouthernan" target="_blank" class="profile__social-link">
          <i class="ri-instagram-line" />
        </a>
      </div>
    </div>

    <div class="profile__description">
      <p>👨🏽‍💻 Founder at <a href="https://cuantto.io" target="_blank">cuantto.io</a></p>
      <p>👊🏽 Founder of <a href="https://hazlolatam.com/" target="_blank">hazlolatam.com</a></p>
      <p>🦊 Marketing Manager <a href="https://vehement.co/" target="_blank">vehement.co</a></p>
      <p>🧑🏽‍💻 Computer Engineer</p>
      <p>🎸 Lover of Travel, Music, Sports, Business</p>
      <p>🔭 Exploring #NoCode #OpenAI.</p>
    </div> 

    <div class="profile__description-like">
        <p>I am a Software Engineer and marketing professional with 10+ years of experience developing and executing successful marketing strategies for B2B and B2C companies. My expertise includes lead generation, brand management, and product marketing. I am passionate about understanding customer needs and developing targeted campaigns and products that drive business growth.

In addition to my marketing expertise, I am also skilled in project management, team leadership, and data analysis. I have a track record of delivering projects on time and under budget, and I enjoy mentoring and coaching team members to help them reach their full potential.

Currently I am working on Qantto. Qantto is the first Quoting-Automation platform that significantly reduces the time and workload of sales teams, improves operational efficiency, increases the sales conversion rate, and provides a more satisfying customer experience by helping companies to create automatic and personalized quotations for their clients.</p>
      </div>
  </div>
</header>

<style>
  .profile {
    position: relative;
    padding-top: 3.5rem;
  }

  .profile__container {
    row-gap: 2rem;
  }

  .profile__data {
    display: grid;
    text-align: center;
  }

  .profile__perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .profile__perfil img {
    width: 100%;
  }

  .profile__border {
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .75rem;
  }

  .profile__name {
    font-size: var(--h2-font-size);
  }

  .profile__profession {
    font-size: var(--smaller-font-size);
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  .profile__social {
    display: flex;
    justify-content: center;
    gap: .75rem;
    margin-bottom: 1rem;
  }

  .profile__social-link {
    font-size: 1.85rem;
    color: var(--title-color);
    transition: .3s;
    border: 1px solid var(--first-color);
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile__social-link:hover {
    background-color: var(--first-color);
  }

  .profile__description {
    text-align: center;
    margin-top: 1rem;
  }

  .profile__description-like {
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 75ch;
    margin: 0 auto;
    text-align: center;
  }

  .profile__description a {
    color: currentColor;
    font-weight: 600;
  }

  .button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
  }

  .button i {
    font-size: 1.25rem;
  }

  .button:hover {
    background-color: var(--first-color-alt);
  }

  .button__small {
    padding: .75rem;
    box-shadow: none;
  }

  @media (min-width: 768px) {
    .profile__description {
      width: 800px;
    }
  }

</style>
