---
export interface Props {
  title: string;
}

import Metatags from '../components/Metatags.astro';

const { title } = Astro.props as Props;
---

<html lang="es">
	<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z3Z72E3NCH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z3Z72E3NCH');
</script>
		<meta charset="utf-8" />
    <link rel="icon" type="image/png" href="favicon.png">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <Metatags />
	</head>
	<body>
    <div class="overlay">
      <slot />
    </div>
	</body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 100%);
  --body-color: hsl(var(--hue), 40%, 9%);
  --container-color: hsl(var(--hue), 24%, 12%);

  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

  @media (min-width: 768px) {
    :root {
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
  }

  h1, h2, h3 {
    color: var(--title-color);
    font-weight: 600;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 968px;
    margin: 0 1.5rem;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
  }

  ::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--body-color);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: var(--first-color);
  }

  .change-theme {
    position: absolute;
    top: 1.5rem;
    right: 0;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: .3s;
  }

  .change-theme:hover {
    color: var(--first-color);
  }

  .overlay {
    background: rgba(0, 0, 0, .65);
  }

  @media (max-width: 320px) {
    .container {
      margin: 0 1rem;
    }

    .profile__info {
      column-gap: 1.5rem;
    }

    .profile__buttons {
      flex-direction: column;
      row-gap: 1rem;
    }
  }

  @media (min-width: 992px) {
    .container {
      margin: 0 auto;
    } 

    .change-theme {
      top: 2.5rem;
      right: 2.5rem;
    }

    .profile {
      padding-top: 4rem;
    }

    .profile__border {
      width: 135px;
      height: 135px;
      margin-bottom: 1rem;
    }

    .profile__perfil {
      width: 120px;
      height: 120px;
    }

    .profile__profession {
      margin-bottom: 1.5rem;
    } 

    .profile__info {
      column-gap: 3rem;
    }

    .profile__info-description {
      font-size: var(--small-font-size);
    }

    .profile__buttons {
      column-gap: 2rem;
    }
  }

</style>
